*{
   margin-left: auto;
   margin-right: auto;
   font-style: Arial, sans-serif;
   font-size: 16px;
}
body{
    background-color: #ffffff;

}

#contener{
   width: 70%;
    margin: auto;
   background-color: white;
   padding: 60px;
}

h1{
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 20px;
   font-size: 28px;

}
h2{
   font-size: 24px;
}

.soustitre{
   font-weight: bold;
   color: #224A7F;
}

#adresse{
   display: inline-block;
   border: 2px solid black;
   background: #EEEEEE;
   padding: 2px;
}
#infoperso{
   display: inline-block;
   border: 2px solid black;
   background: #EEEEEE;
   padding: 2px;
}

.photo {
   display: inline-block;
   float: right;
}

.clear {
   clear: both;
}
