.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url(../img/black.jpg);
  color: white;
  height: 30px;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}

.footer-copyright {
  padding: 0;
  line-height: 2em;
}
