.off-canvas{
  background: url(../img/black.jpg);
  top: 56px !important;
  bottom: 30px !important;
  position: fixed;
  height: initial;
}
.verticalMenu li{
	margin-top: 15px;
	}
.verticalMenu li a{
	color: #ffffff;
	padding: 15px;
	font-size: 1.2em;
}
.verticalMenu li a:hover {
  	color: lightblue !important;
}