.titre{
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
}
ul {
  margin-left: 0;
}

.main {
  background: url(../img/bois2.jpg);
  background-size: 100%;
  background-repeat: repeat;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  top: 56px;
  bottom: 32px;
  overflow: auto;
}

.list {
  list-style-type: none;
  width: 100%;
  line-height: 2em;
  padding: 1em 0;
}

.list li {
  display: table;
  width: 100%;
}
.list-description span{
  color: white;
  font-size: 20px;
}
.list-description a span{
  color: white;
  font-size: 20px;
}
.list-task{
  background-color: white;
}
.list-task a {
  color: black;
  text-decoration: none;
}

.list-task.linkedit {
  display: table-cell;
}

.list-task a div {
  width: 100%;
  display: table;
}

.list-task.done span {
  text-decoration: line-through;
  color: grey;
}

.list-task:hover {
  background-color: grey !important;
}

.list-task:nth-child(even) {
  background-color: lightgray;
}

.list li:first-child {
  color: white;
  font-weight: bold;
}
.list li{
  border-radius: 10px;
}
.list span {
  padding: 10px;
  display: table-cell;
}

.list-task-id {
  width: 60px;
  text-align: center;
}

.list-task-description {
  width: 400px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-task-description2 {
  width: 460px;
  max-width: 460px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-task-assigne-to{
  width: 200px;
  margin-right: 50px;
  padding: 0;
  font-size: 12px;
}

.list-task-date {
  width: 100px;
}
.list-task-date2 {
  width: 130px;
}

.list-task-due {
  width: 60px;
}
.list-task-due2 {
  width: 100px;
}

.list-task-priority {
  width: 110px;
  text-align: center;
}

.list-task-status {
  width: 100px;
  text-align: center;
}

.list-task-delete {
  width: 60px;
  text-align: center;
}
.list-task-status a.fa.fa-check-square-o:hover {
  font-size: 1.3em;
  transition: 0.1s ease-out;
  color: green;
}
.list-task-status a i.fa.fa-square-o:hover {
  font-size: 1.3em;
  transition: 0.1s ease-out;
  color: green;
}

.list-task-delete a.fa.fa-trash-o:hover {
  font-size: 1.3em;
  transition: 0.1s ease-out;
  color: red;
}

.form-edit {
  height: 100%;
  width: 100%;
  line-height: 2em;
  padding: 1em 0;
}

.form-edit-input {
  width: 100%;
}

.form-edit-input.submit {
  margin-top: 10px;
  height: 40px;
  background-color: grey;
  color: white;
  font-weight: bold;
  border: 0;
}

.form-edit ul {
  list-style-type: none;
}

.js-off-canvas-overlay {
  background: rgba(254, 254, 254, 0.5);
}

#btn-add {
  position: fixed;
  bottom: 10%;
  right: 5%;
  line-height: 65px;
  border-radius: 100%;
  color: white;
  background-color: green;
  text-decoration: none;
  text-align: center;
  width: 50px;
  height: 50px;
}
.form-edit ul li label{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
