.page-user-title{
  padding-top: 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.list2 {
  list-style-type: none;
  width: 100%;
  line-height: 2em;
  padding: 1em 0;
}
.list2 li {
  display: table;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  opacity: 0.92;
}
.list2 li:first-child {
  font-weight: bold;
  font-size: 20px;
}
.list2 span {
  padding: 10px;
  display: inline-block;
}
.list-user-id {
  width: 60px;
  max-width: 60px;
  margin-left: 20%;
}

.list-user-user {
  width: 250px;
}

.list-user-email {
  width: 250px;
}

.list-user-action {
  width: 80px;
  text-align: center;
}
.list-user:hover {
  background-color: grey !important;
}

.list-user:nth-child(even) {
  background-color: lightgray;
}

.list-user li:first-child {
  font-weight: bold;
  font-size: 20px;
}
.list-user a span{
  color: black;
}
.list-task-delete a{
  color: black;
}
.new-user-label{
  font-size: 25px;
  font-weight: bold;
}
.user-label-name{
  color: white;
}
.user-label-email{
  color: white;
}
.user-label-password{
  color: white;
}